body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  height: 100vh; /* Make the carousel full screen height */
  width: 100%; /* Make the carousel full screen width */
}

.carousel-item {
  height: 100%; /* Make each carousel item full screen height */
  width: 100%; /* Make each carousel item full screen width */
}
.carousel img {
  object-fit: cover; /* Make the images cover the entire carousel item */
  height: 100%; /* Make the images full screen height */
  width: 100%; /* Make the images full screen width */
}
